<div class ="row">
  <h1>Past Poems</h1>
<h4>
<ul id="Articles">
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
  </li>
  <% end %>
</ul>
<h4>
</div>
