<div class ="row">
  <h1 class="home">Past Poems</h1>
<h4>
<ul>
  <% @articles.each do |article| %>
  <li>
    "<%= link_to article.title, article_path(article) %>"
  </li >
  <% end %>
</ul>
<h4>
</div>
